name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  actions: write
  contents: read

jobs:
  wake-up:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/create-github-token@v2
      id : create_token
      with:
        app_id: ${{ secrets.GITHUB_APP_ID }}
        private_key: ${{ secrets.GITHUB_APP_PRIVATE_KEY }}
    
    - name: Generate JIT
      id: generate_jit
      run: |
        RESPONSE=$(curl -X POST -H "Authorization: Bearer ${{ steps.create_token.outputs.token }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/repos/${{ github.repository }}/actions/runners/generate-jitconfig \
          -d '{"labels":["self-hosted","playwright"],"runner_group_id":0}')
        
        echo "config=$(echo $RESPONSE | jq -r '.encoded_jit_config')" >> $GITHUB_OUTPUT

    - uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - name: Wake up self-hosted runner
      run: |
        aws ecs run-task \
          --cluster self-hosted-runner \
          --launch-type FARGATE \
          --task-definition self-hosted-runner:1 \
          --network-configuration "awsvpcConfiguration={subnets=[subnet-0d240f9fc7f422172],securityGroups=[sg-0878f4858c5b45746],assignPublicIp=ENABLED}" \
          --overrides '{
            "containerOverrides":[
              {
                "name":"playwright",
                "environment":[
                  {"name":"JIT_CONFIG","value":"${{ steps.generate_jit.outputs.config }}"}
                ]
              }
            ]
          }'
  test:
    needs: wake-up
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
