name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  actions: write
  contents: read

jobs:
  wake-up:
    runs-on: ubuntu-latest
    steps:
    - uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - name: Wake up self-hosted runner
      run: |
        aws ecs run-task \
          --cluster self-hosted-runner \
          --launch-type FARGATE \
          --task-definition self-hosted-runner:1 \
          --network-configuration "awsvpcConfiguration={subnets=[subnet-0d240f9fc7f422172],securityGroups=[sg-0878f4858c5b45746],assignPublicIp=ENABLED}" \
          --overrides '{
            "containerOverrides":[
              {
                "name":"playwright",
                "environment":[
                  {"name":"GITHUB_REPOSITORY","value":"sample-self-hosted-runner"},
                  {"name":"PAT_TOKEN","value":"${{ secrets.GITHUB_TOKEN }}"}
                ]
              }
            ]
          }'
  test:
    needs: wake-up
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
